In [3]:
!pwd

/content

In [19]:

import pandas as pd
from geopy.geocoders import Nominatim
import folium
import requests
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.cm as cm
import matplotlib.colors as colors
geolocator = Nominatim(user_agent="dartford_explorer")

In [20]:
file = 'schools-list.csv'
df = pd.read_csv(file)

df.head()

   DFE Code                         School Name  ...   Latitude NOR May census
0      2005                  Abbey Park Academy  ...  53.755409          217.0
1      2001            Akroydon Primary Academy  ...  53.735406          384.0
2      5201  All Saints' CE (VA) J and I School  ...  53.700704          211.0
3      2093  Ash Green Community Primary School  ...  53.749304          492.0
4      2040      Bailiffe Bridge J and I School  ...  53.724097          208.0

[5 rows x 19 columns]

In [23]:
schools = df[df['Type']=='Secondary School']

In [22]:
schools.drop('Address 1', axis=1, inplace=True)
schools.drop('Type', axis=1, inplace=True)
schools.index = range(len(schools.index))
schools

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Empty DataFrame
Columns: [DFE Code, School Name, Status, Executive headteacher, Headteacher, Address 2, Address 3, Post Code, School Wards, Website, Telephone, Fax, Easting, Northings, Longitude, Latitude, NOR May census]
Index: []

In [24]:
header_list = ['School Name', 'Post Code', 'Address 1', 'Telephone']
schools = schools.reindex(columns = header_list)  
schools

Empty DataFrame
Columns: [School Name, Post Code, Address 1, Telephone]
Index: []

In [25]:


schools

Empty DataFrame
Columns: [School Name, Post Code, Address 1, Telephone]
Index: []

In [27]:
pcodes = pd.read_csv('schools-list.csv')
pcodes.rename(columns={'postcode':'Post Code'}, inplace=True)
pcodes.drop('DFE Code', axis=1, inplace=True)

In [28]:
pcodes.head()

                          School Name  ... NOR May census
0                  Abbey Park Academy  ...          217.0
1            Akroydon Primary Academy  ...          384.0
2  All Saints' CE (VA) J and I School  ...          211.0
3  Ash Green Community Primary School  ...          492.0
4      Bailiffe Bridge J and I School  ...          208.0

[5 rows x 18 columns]

In [29]:
schools = schools.merge(pcodes, how='left', left_on='Post Code' , right_on='Post Code')

In [32]:
pcodes = pd.read_csv('ukpostcodes.csv')
pcodes.rename(columns={'postcode':'Post Code'}, inplace=True)
pcodes.drop('id', axis=1, inplace=True)

In [33]:
schools.head()

Empty DataFrame
Columns: [School Name_x, Address 1_x, Telephone_x, School Name_y, Status, Type, Executive headteacher, Headteacher, Address 1_y, Address 2, Address 3, Post Code, School Wards, Website, Telephone_y, Fax, Easting, Northings, Longitude, Latitude, NOR May census]
Index: []

In [31]:
dartford=geolocator.geocode('Dartford, GB')
print(dartford)
print(dartford.latitude)
print(dartford.longitude)

Dartford, Kent, South East, England, United Kingdom
51.4443059
0.21807

In [39]:
map_dartford = folium.Map(location=[dartford.latitude, dartford.longitude], zoom_start=10)

# add markers to map

   
   
    
map_dartford
map_dartford.save('dartford.html')

In [40]:
CLIENT_ID = 'AGTECTUHU2A21IV2GQJM4ON0HL0CYTXMHD3JDWRAJD3CQG04' #  Foursquare ID
CLIENT_SECRET = 'XUQMS5VZKXP4TYDKKLFFGASNRWSFAO4ZPYIE2KFP4VMVDBDI' #  Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Credentails:
CLIENT_ID: AGTECTUHU2A21IV2GQJM4ON0HL0CYTXMHD3JDWRAJD3CQG04
CLIENT_SECRET:XUQMS5VZKXP4TYDKKLFFGASNRWSFAO4ZPYIE2KFP4VMVDBDI

In [41]:
LIMIT=50
def getNearbyVenues(names, latitudes, longitudes, radius=1000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [44]:
vens = getNearbyVenues(names=['School Name'],latitudes=['Latitude'],longitudes=['Longitude'])

School Name

KeyError: ignored

In [45]:
vens.head()

NameError: ignored